.draw_diagram-node-count-header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
  display: flex;
}

.draw_diagram-node-count-button-container {
  display: flex;
  margin-top: 10px;
  height: 55px;
  width: 55px;
}
